.user {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .avatar {
    width: 2.5rem;
    height: auto;
  }

  .author {
    font-weight: bold;
    margin-right: 5px;
  }
}
