.headerWrp {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  background-color: white;
  padding: 1em 2em;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  color: black;
  font-weight: 700;
  font-size: 1.2em;

  .userInfo {
    margin-left: 5px;
    gap: 1px;

    .userStatus {
      font-weight: 500;
      font-size: 0.9em;
    }

    .userStatusForm {
      display: flex;
      align-items: center;

      .buttons {
        margin-left: 0.5rem;

        & button + button {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.logoutBtn,
.logoutBtn:hover {
  border: none;
  box-shadow: none;
}

.menuBtn {
  color: gray;

  &:hover {
    color: black !important;
  }
}
