.profile {
  display: grid;
  justify-content: center;
  padding: 2rem 0 0;
}

.fieldset {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0;
  padding: 0;
  gap: 25px;
  border: none;
}

.cropContainer {
  margin: 20px auto;
  width: 400px;
  height: 100%;
}

.actions {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
