.comment {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 10px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .avatar {
    width: 2.5rem;
    height: auto;
  }

  .author {
    font-weight: bold;
    margin-right: 5px;
  }

  .date {
    color: rgba(0 0 0 / 40%);
    font-size: 0.85rem;
  }

  .actions {
    position: absolute;
    top: 0;
    right: 0;

    & > button {
      padding: 0;
    }
  }
}

.extra {
  border-top: 1px solid rgba(0 0 0 / 5%);
  padding: 2px;
  margin-bottom: 10px;
}
