.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar  > * {
  display: block;
  margin-top: 10px;
}

.toolbar  > *:first-child {
  margin-top: 20px;
}

.toolbar  > *:last-child {
  margin-bottom: 20px;
}
